body {
    height:100vh;
    margin:0;
    padding:0;
}

#home {
    background-image:linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)),url("../img/home-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

header {
    background-color:#080404;
    color:white;
    padding:40px;
    display:flex;
    justify-content:space-between;
}

.header-title {
    display:flex;
    align-items:center;
    font-size:25px;
    max-width:150px;
}

.header-title img {
    width:70px;
}

.header-navbar {
    display:flex;
    align-items:center;
    font-size:20px;
}

.navbar-link {
    margin-left:50px;
    font-weight:bold;
}